<h3>Contact Us</h3>

<%= form_tag contact_path do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <div>
    <%= label_tag :message %>
    <%= text_area_tag :message %>
  </div>
  <%= submit_tag 'Contact Us!' %>
<% end %>

<% if @name %>
  <p>Thank you <%= @name %> for contacting us!</p>
<% end  %>
